body {
    font-family: 'Open Sans', sans-serif;
}

// Tamaño fuente
@each $k,
$v in $fuentes {
    .font-#{$k} {
        font-weight: $v;
    }
}

// Colores y tamaños titulos
@mixin verde {
    color: green;
}

.tituloverde {
    @include verde;
}

%noclase {
    color: rgb(255, 115, 0);
}

.titulonaranja {
    @extend %noclase;
}

.naranjapagina {
    @extend .titulonaranja;
    font-size: 2.5rem;
}

.verdepagina {
    @extend .tituloverde;
    font-size: 2.5rem;
}

.subtituloverde {
    @extend .tituloverde;
    font-size: 1.5rem;
}

.subtitulonaranja {
    @extend .titulonaranja;
    font-size: 1.5rem;
}

// Fin titulos

// Reset margenes
* {
    padding: unset;
    margin: unset;
    box-sizing: border-box;
}

// Limpiamos márgenes y estilos provenientes de HTML
* {
    text-decoration: none;
    list-style-type: none;
}

// Centramos header
.centerHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// Centramos main
.centerMain {
    @extend .centerHeader;
    align-items: center;
}

// Centramos contenido de la pagina
.pagina1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    p {
        line-height: 1.5;
    }

    .item {
        padding: 30px 30px 30px 0px;
        box-sizing: border-box;
    }

    img {
        border-radius: 5px;
        max-height: 320px;
        align-items: right;
    }
}

// Centramos Logo
.logoe {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Delimitamos parrafos
.itemText {
    max-width: 50%;
    text-align: center;
}

// Centramos desayunos
.tdesayunos {
    @extend .logoe;
}

// Centramos formulario
.centercontacto {
    display: flex;
    justify-content: center;
}

// Centramos recetas
.recetario {
    @extend .centercontacto;
    margin: 20px 0px;
}

// Alineamos footer
#pie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #E6D5B8;
}

// Barra divisor
.divisor {
    display: flex;
    content: "";
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
    justify-content: center;
    background-color: black;
    height: 0.2px;
    width: 70%;
}

// Barrra divisora 2
.divisor2 {
    display: flex;
    content: "";
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    background-color: black;
    height: 0.2px;
    width: 50%;
}

// Tamaño formulario
.formContacto {
    min-width: 30%;
    max-width: 70%;
}

// Alineamos Assets
.redes {
    display: inline-flex;
}

.navStyle {
    background-color: #E6D5B8 !important;
}

.menuStyle {
    color: #ffffff !important;
    font-weight: bold;
    text-shadow: 1px 1px rgb(92, 92, 92);

    &:hover {
        color: #f5f5f5 !important;
        font-weight: bold;
    }
}

// Efecto Nav - Menu 

.itemx {
    position: relative;
    line-height: 2;

    &:before {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background-color: #f5f5f5;
        transition: all 0.8s;
        position: absolute;
    }

    &:hover::before {
        width: 100%;
    }
}

.efectCenter:before {
    left: 50%;
}

.efectCenter:hover:before {
    left: 0;
}


// Fin efecto Nav - Menu 

// Bordes imagenes
.bordesimg {
    max-width: 50%;
    margin-right: 40px;
}

// Delimitamos texto
.texto1 {
    max-width: 50%;
    text-align: center;
}

// Delimitamos texto recetas
.textoclass {
    max-width: 497px;
}

// Acomodamos titulo
.titleDesayuno {
    margin: 0px 0px 20px 0px;
    text-align: center;
}

// Acomodamos imagenes
.imgDesayuno {
    margin: 0px 0px 20px 0px;
}