@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Plus+Jakarta+Sans&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.tituloverde, .verdepagina, .subtituloverde {
  color: green;
}

.titulonaranja, .naranjapagina, .subtitulonaranja {
  color: #ff7300;
}

.naranjapagina {
  font-size: 2.5rem;
}

.verdepagina {
  font-size: 2.5rem;
}

.subtituloverde {
  font-size: 1.5rem;
}

.subtitulonaranja {
  font-size: 1.5rem;
}

* {
  padding: unset;
  margin: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  /* Limpiamos márgenes y estilos provenientes de HTML */
  text-decoration: none;
  list-style-type: none;
}

.centerHeader, .centerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centerMain {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagina1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagina1 p {
  line-height: 1.5;
}

.pagina1 .item {
  padding: 30px 30px 30px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pagina1 img {
  border-radius: 5px;
  max-height: 320px;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
}

.logoe, .tdesayunos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.itemText {
  max-width: 50%;
  text-align: center;
}

.centercontacto, .recetario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recetario {
  margin: 20px 0px;
}

#pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #E6D5B8;
}

.divisor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  height: 0.2px;
  width: 70%;
}

.formContacto {
  min-width: 30%;
  max-width: 70%;
}

.redes {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.navStyle {
  background-color: #E6D5B8 !important;
}

.menuStyle {
  color: #ffffff !important;
  font-weight: bold;
  text-shadow: 1px 1px #5c5c5c;
}

.menuStyle:hover {
  color: #f5f5f5 !important;
  font-weight: bold;
}

/* Efecto Nav - Menu */
.itemx {
  position: relative;
  line-height: 2;
}

.itemx:before {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #f5f5f5;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  position: absolute;
}

.itemx:hover::before {
  width: 100%;
}

.efectCenter:before {
  left: 50%;
}

.efectCenter:hover:before {
  left: 0;
}

.bordesimg {
  max-width: 50%;
  margin-right: 40px;
}

.texto1 {
  max-width: 50%;
  text-align: center;
}

.textoclass {
  max-width: 497px;
}

.divisor2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  height: 0.2px;
  width: 50%;
}

.titleDesayuno {
  margin: 0px 0px 20px 0px;
  text-align: center;
}

.imgDesayuno {
  margin: 0px 0px 20px 0px;
}

.menuActive {
  color: #ececec !important;
}
/*# sourceMappingURL=Style.css.map */

#containerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
      "header header header header header"
      "contenido contenido contenido contenido contenido"
      "footer footer footer footer footer";
  min-height: 100vh;
}

#header {
  grid-area: header;
}

#contenido {
  grid-area: contenido;
}

#footer {
  grid-area: footer;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

  .pagina1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }


}

@media (min-width: 576px) {

  .pagina1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }


}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .pagina1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .pagina1 {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

}